
#mitchirineko {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
    padding-top: 80px;
    box-sizing: border-box;
  }
  
  #mitchirineko > video {
    min-height: 100%;
    min-width: 100%;
  }
  
  #mitchirineko > span {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 20px;
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.7);
  }
  
  #mitchirineko > span > a {
    color: rgb(120, 120, 253);
    text-decoration: none;
    transition: color 0.2s ease;
    color: var(--marron-feuille);
  }
  
  #mitchirineko > span > a:hover {
    color: var(--marron-colline);
  }

  #weird_container {
    z-index: 2;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: transform 6s cubic-bezier(0.73, 0.33, 0.11, 0.62);
  }
  
  #weird_anim {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 35px;
    position: absolute;
    left: -50%;
    top: 10%;
    width: 200px;
    text-align: center;
    border: 1px solid white;
    background-color: var(--bleu-fee);
  }

  #billetterie {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: var(--bleu-fee);
    background-image: url("./Images/background_fonce.png");
    color: var(--marron-fonce);
  }
  
  #billetterie > p {
    font-size: 38px;
    font-family: "rumble-brave", serif;
    letter-spacing: 1px;
  }
  
  #billetterie > div {
    padding: 30px 40px;
    margin: 20px 0;
    border: 1px solid rgba(104, 71, 56, 0.4);
    transition: box-shadow 0.3s ease;
    font-family: "morva";
    font-size: 28px;
    letter-spacing: 1px;
    cursor: pointer;
  }
  
  #billetterie > div:hover {
    box-shadow: 0 8px 17px 0 rgba(104, 71, 56, 0.2),
      0 6px 20px 0 rgba(104, 71, 56, 0.19);
  }
      