<head>
    <link rel="stylesheet" href="billetterie.css" />
    
    <script src="./js-snackbar.js"></script>
    <link rel="stylesheet" href="./js-snackbar.css">
    <link rel="stylesheet" href="./header.css">
</head>
<body>
    <div id='content'>
        <div id="home">
            <div id='billetterie' class="margin background-fade section">
                <button class="bn30" ><a href="https://assos.utc.fr/woolly/ventes/111">Billetterie</a></button>
                <p class="text-presentation">
                  Les places à l'unité sont vendues sur Woolly. Il suffit de se créer un compte pour pouvoir acheter les places. Des places seront également en vente au marché les samedis 21 et le 28 mai. Des lots à prix réduits pour deux spectacles seront disponibles en exclusivité en ventes physiques!
                </p>
            </div>
        </div>
    </div>
</body>
