
/* ========= Mascotte fee ============== */


  #fee {
    position: fixed;
    left: 30px;
    bottom: 10px;
    z-index: 5;
    transition: bottom 2s ease, left 2s ease;
  }
  #fee > img {
    position: relative;
    animation: souffle 10s infinite;
    height: 175px;
  }
  
  @media all and (max-width: 768px) {
    #fee {
      display: none;
    }
  }
  
  @media all and (max-width: 500px) {
    #fee {
      height: 150px;
    }
  }
  
  @keyframes shutupanddance {
    0% {
      left: 30px;
      bottom: 10px;
      transform: rotate(2deg);
    }
  
    20% {
      left: 40%;
      bottom: 40%;
      transform: rotate(14deg);
    }
  
    22% {
      bottom: 44%;
    }
  
    24% {
      bottom: 40%;
      left: 54%;
    }
  
    26% {
      bottom: 44%;
    }
  
    28% {
      bottom: 40%;
      left: 40%;
    }
  
    30% {
      bottom: 44%;
      transform: rotate(0deg);
    }
  
    32% {
      bottom: 40%;
      left: 54%;
    }
  
    30% {
      bottom: 44%;
    }
  
    36% {
      bottom: 40%;
      left: 40%;
    }
  
    46% {
      left: 48%;
    }
  
    50% {
      left: 48%;
    }
  
    51% {
      left: 52%;
    }
  
    52% {
      left: 48%;
    }
  
    53% {
      left: 52%;
    }
  
    54% {
      left: 48%;
    }
    55% {
      left: 52%;
    }
  
    56% {
      left: 48%;
    }
    57% {
      left: 52%;
    }
  
    58% {
      left: 48%;
      bottom: 40%;
      transform: rotate(0deg);
    }
  
    60% {
      transform: rotate(180deg);
    }
    62% {
      transform: rotate(360deg);
    }
    64% {
      transform: rotate(540deg);
    }
    66% {
      transform: rotate(720deg);
    }
    68% {
      transform: rotate(900deg);
    }
    70% {
      transform: rotate(1080deg);
      bottom: 50%;
    }
    71% {
      transform: rotate(1260deg);
    }
    72% {
      transform: rotate(1440deg);
    }
    72% {
      transform: rotate(1620deg);
      bottom: 130%;
      left: 48%;
    }
    73% {
      left: -50%;
    }
    74% {
      bottom: 40%;
    }
    77% {
      left: 150%;
      bottom: 40%;
    }
    78% {
      bottom: -50%;
      left: 150%;
    }
  
    81% {
      left: -50%;
      bottom: 150%;
    }
  
    84% {
      left: -50%;
      bottom: -50%;
    }
  
    87% {
      left: 150%;
      bottom: 150%;
    }
    88% {
      bottom: 50%;
    }
  
    90% {
      left: 40%;
      bottom: 40%;
      transform: rotate(0deg);
    }
  
    92% {
      left: 40%;
      bottom: 40%;
      transform: rotate(0deg);
    }
  
    94% {
      transform: rotate(-14deg);
    }
  
    98% {
      transform: rotate(-4deg);
    }
  
    100% {
      left: 30px;
      bottom: 10px;
      transform: rotate(-2deg);
    }
  }
  
  @keyframes travel {
    0% {
      left: 0;
      bottom: 0;
      transform: rotate(0deg);
    }
  
    20% {
      left: 7%;
      bottom: 64%;
      transform: rotate(8deg);
    }
  
    30% {
      left: 22%;
      bottom: 72%;
      transform: rotate(20deg);
    }
  
    50% {
      left: 85%;
      bottom: 74%;
      transform: rotate(18deg);
    }
  
    70% {
      left: 90%;
      bottom: 10%;
      transform: rotate(4deg);
    }
  
    80% {
      left: 72%;
      bottom: 7%;
      transform: rotate(-14deg);
    }
  
    95% {
      left: 10%;
      bottom: 2%;
      transform: rotate(-16deg);
    }
  
    100% {
      left: 0;
      bottom: 0;
      transform: rotate(0deg);
    }
  }
  
  @keyframes souffle {
    0% {
      left: 0px;
      bottom: 0px;
      transform: rotate(0deg);
    }
  
    30% {
      transform: rotate(5deg);
      bottom: 20px;
    }
  
    50% {
      left: 30px;
      transform: rotate(0deg);
      bottom: 12px;
    }
  
    60% {
      transform: rotate(3deg);
    }
  
    70% {
      left: 50px;
      transform: rotate(0deg);
      bottom: 7px;
    }
  
    80% {
      transform: rotate(-6deg);
    }
  
    100% {
      left: 0px;
      transform: rotate(0deg);
      bottom: 0px;
    }
  }