
/* =========== Partenaires ============ */

#logos_partenaires {
    text-align: center;
    background-color: var(--blanc);
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 50px;
  }
  
  #logos_partenaires img {
    width: 7rem;
    height: auto;
    vertical-align: middle;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
  }
  
  /* ========== Crédits ========= */
  #Crédits {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  #Crédits {
    font-size: 0.7em;
    color: var(--text-primary);
  }
/* ========= Contact =================== */

#contact {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 50px;
}

#contact img {
  padding: 20px;
}

@media all and (max-width: 640px) {
  .margin {
    margin-left: 2%;
    margin-right: 2%;
  }
}  