
  <head>
    <link rel="stylesheet" href="footer.css" />
    <link rel="stylesheet" href="fee.css" />
    <script src="jquery-3.3.1.min.js"></script>
    <script src="functions.js" type="text/javascript"></script>
    <script src="fee-anim.js" type="text/javascript"></script>
    

  </head>
<!-- CONTACTS : -->

<section id='contact' class="margin background-fade">
    <a href="mailto:festupic@assos.utc.fr"><img src="Images/email.png" alt='mail' /></a>
    <a href="https://www.facebook.com/Festupic-125619177513151/"><img src="Images/facebook.png" alt='facebook'></a>
    <a href="https://www.instagram.com/festupic/?hl=fr"><img src="Images/instagram.png" alt='Instagram'></a>
  </section>

<!-- ############ PARTENAIRES ################ -->
      <section id='logos_partenaires'>
        <!-- UTC ET SUBS-->
        <img src='Images/Partenaires/utc.png' alt='UTC' width="150"/>
        <img src='Images/Partenaires/bde.png' alt='BDE' />
        <img src='Images/Partenaires/PAE.png' alt='PAE' />
        <img src='Images/Partenaires/compiegne.png' alt='Compiègne' />
        <img src='Images/Partenaires/crous.png' alt='Crous' />
        <img src='Images/Partenaires/soge.png' alt='Société Générale' />
        <img src='Images/Partenaires/oise.jpg' alt='Oise' />
        <img src='Images/Partenaires/cvec.png' alt='CVEC' />
        <img src='Images/Partenaires/region.png' alt='region HdF' />
        <img src='Images/Partenaires/ejl.png' alt='Espace Jean Legendre' />
        <img src='Images/Partenaires/theatre_a_moustaches.png' alt='Théâtre à Moustaches' />
        <!-- SPONSO-->
        <img src='Images/Partenaires/librairie.png' alt='Librairie des Signes' />
        <img src='Images/Partenaires/optique_choqueuse.jpg' alt='Optique Choqueuse' />
        <img src='Images/Partenaires/le_pavillon.png' alt='Le Pavillon' />
        <img src='Images/Partenaires/st_corneille.JPG' alt='Le St Corneille' />
        <img src='Images/Partenaires/ma_brochette.png' alt='Ma Brochette' />
        <img src='Images/Partenaires/just_couscous.png' alt='Just Couscous & Co.' />
        <img src='Images/Partenaires/mie-d-abeille.jpg' alt='Mie d Abeille' />
        <!-- ASSOS-->
        
        <img src='Images/Partenaires/profit.png' alt='ProfitRôles' />
        <img src='Images/Partenaires/Stravaganza.png' alt='Stravaganza' />
        <img src='Images/Partenaires/decibels.png' alt='Décibels' />
        <img src='Images/Partenaires/coincidence.png' alt='Coincidence' />
        <img src='Images/Partenaires/secouruts.png' alt='SecourUTs' /> 
        <img src='Images/Partenaires/picsartcarre.png' alt='PicsArt' />
        <img src='Images/Partenaires/ssp.png' alt='SSP' />
        <img src='Images/Partenaires/UTCREW.png' alt='UTCrew' />


      </section>
      
      <section id="Crédits">
        <p> Graphismes : Jeanne Maillard | Photographies : Pics'Art | Image Festu' de Rue : Edouard Bernaux</p>
        <p> &lt;/&gt; Victor Ronfaut & Camille Beaudou & Anaëlle Hennion & Salomé Quoy </p>
      </section>
