<!-- Partie du header qui se répète -->
        <meta charset="utf-8" />
        <link rel="stylesheet" href="style.css"/>
        <title>Festupic 2022</title>
        <meta name="keywords" content="Festupic, utc, theatre, danse, improvisation, concert, oise, compiegne, picardie, universitaire, juin"/>
        <meta name="description" content="Pour la 30ème édition, le Festival de Théâtre Universitaire de Picardie fera vivre Compiègne au rythme des représentations théâtrales, des spectacles de danse et des concerts."/>
        <script src="jquery-3.3.1.min.js"></script>
        <script src="functions.js" type="text/javascript"></script>
        <link rel="icon" type="image/png" href="Images/masque_icone.png" /> <!--logo dans l'onglet, à redimensionner en 16*16px -->
