/* The alert message box */
.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}
#nav{
    text-align:center;
    font-family:"Baloo 2", cursive;
    font-size: 1rem;
}

#nav a, #nav a:visited, #nav a:hover, #nav a:active{
    color: var(--blanc);
    font-size: 110%;
    text-decoration:none;
    letter-spacing:2px;
    display:block;
    cursor: pointer;
}

#nav a:hover{
    color: var(--luciole);
}

#nav ul{
    display:inline;
}

#nav ul:not(.children) > li{
    display:inline-block;
    text-transform:uppercase;
    
    margin:0 30px 0 30px;
    position:relative;
    padding: 70px 0 10px 0;
  
}

#nav ul:not(.children) > li:not(.page-item-2):hover > a:after{
    content: '';
    background: var(--blanc);
    border-radius: 50%;
    position: absolute;
    height: 5px;
    width: 5px;
    bottom:20px;
    left:10px;
    -webkit-animation: bubbles-rise 2s infinite;
    animation: bubbles-rise 2s infinite;
}

#nav ul:not(.children) > li:not(.page-item-2):hover > a:before{
    content: '';
    background:  var(--luciole);
    border-radius: 50%;
    position: absolute;
    height: 3px;
    width: 3px;
    bottom:20px;
    left:0;
    -webkit-animation: bubbles-rise 3s infinite;
    animation: bubbles-rise 3s infinite;
}

#nav ul:not(.children) li:not(.page-item-2):hover:after{
    content: '';
    background:  var(--luciole);
    border-radius: 50%;
    position: absolute;
    height: 4px;
    width: 4px;
    bottom:20px;
    right:15px;
    -webkit-animation: bubbles-rise 3s infinite;
    animation: bubbles-rise 3s infinite;
}

#nav ul:not(.children) li:not(.page-item-2):hover:before{
    content: '';
    background: var(--luciole);
    border-radius: 50%;
    position: absolute;
    height: 3px;
    width: 3px;
    bottom:20px;
    right:3px;;
    -webkit-animation: bubbles-rise 4s infinite;
    animation: bubbles-rise 4s infinite;
}

@-webkit-keyframes bubbles-rise {
    100% {
        -webkit-transform: translateY(-100px) scale(0.5);
        transform: translateY(-100px) scale(0.5);
        opacity: 0;
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
}

@keyframes bubbles-rise {
    100% {
        -webkit-transform: translateY(-100px) scale(0.5);
        transform: translateY(-100px) scale(0.5);
        opacity: 0;
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
}

#nav ul li.page-item-2{
    background: url('http://pdphtravel.com/onewebstatic/94ce294e9a-PixieDustandPirateHooks_CustomLogoDesign_R8_opt1%20(294x300).jpg') no-repeat center;
    background-size: contain;
    margin-top:0px;
    width:250px;
    height:200px;
    -webkit-animation: appear 5s linear forwards;
    animation: appear 5s linear forwards;
    opacity: 0;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;    
}

#nav ul li.page-item-2:after{
    background: url(https://ashleymellor.co.uk/wp-content/gallery/illustrations/tinkerbell.jpg) no-repeat center;
    background-size: contain;
    margin-top:0px;
    width:250px;
    height:200px;
    content:'';
    position:absolute;
    top:0;
    left:0;
    animation-duration: 5s;
    animation-name: shake-slow;
    animation-timing-function: ease-in-out;
}

@keyframes shake-slow {
  2% {
    transform: translate(7px, 5px) rotate(-1.5deg); }
  4% {
    transform: translate(-7px, 1px) rotate(-0.5deg); }
  6% {
    transform: translate(-7px, -5px) rotate(2.5deg); }
  8% {
    transform: translate(4px, -2px) rotate(1.5deg); }
  10% {
    transform: translate(4px, 0px) rotate(3.5deg); }
  12% {
    transform: translate(10px, -8px) rotate(-1.5deg); }
  14% {
    transform: translate(-5px, -6px) rotate(3.5deg); }
  16% {
    transform: translate(5px, -7px) rotate(-0.5deg); }
  18% {
    transform: translate(1px, 3px) rotate(-1.5deg); }
  20% {
    transform: translate(-4px, 3px) rotate(-2.5deg); }
  22% {
    transform: translate(-4px, -3px) rotate(0.5deg); }
  24% {
    transform: translate(2px, 3px) rotate(3.5deg); }
  26% {
    transform: translate(-7px, -4px) rotate(-0.5deg); }
  28% {
    transform: translate(-7px, 7px) rotate(3.5deg); }
  30% {
    transform: translate(2px, 9px) rotate(0.5deg); }
  32% {
    transform: translate(10px, -8px) rotate(1.5deg); }
  34% {
    transform: translate(-2px, -8px) rotate(3.5deg); }
  36% {
    transform: translate(-6px, -2px) rotate(-0.5deg); }
  38% {
    transform: translate(2px, 6px) rotate(3.5deg); }
  40% {
    transform: translate(-2px, -9px) rotate(1.5deg); }
  42% {
    transform: translate(5px, -3px) rotate(-1.5deg); }
  44% {
    transform: translate(7px, 7px) rotate(-0.5deg); }
  46% {
    transform: translate(5px, -6px) rotate(2.5deg); }
  48% {
    transform: translate(7px, -2px) rotate(-0.5deg); }
  50% {
    transform: translate(2px, 2px) rotate(2.5deg); }
  52% {
    transform: translate(-1px, -2px) rotate(1.5deg); }
  54% {
    transform: translate(-4px, -6px) rotate(-1.5deg); }
  56% {
    transform: translate(7px, -3px) rotate(-1.5deg); }
  58% {
    transform: translate(-5px, 2px) rotate(-0.5deg); }
  60% {
    transform: translate(3px, 2px) rotate(-1.5deg); }
  62% {
    transform: translate(6px, 1px) rotate(-2.5deg); }
  64% {
    transform: translate(-4px, 9px) rotate(3.5deg); }
  66% {
    transform: translate(8px, -6px) rotate(-2.5deg); }
  68% {
    transform: translate(-2px, -4px) rotate(2.5deg); }
  70% {
    transform: translate(-5px, -3px) rotate(-0.5deg); }
  72% {
    transform: translate(-3px, 6px) rotate(-0.5deg); }
  74% {
    transform: translate(-9px, 9px) rotate(1.5deg); }
  76% {
    transform: translate(-5px, 9px) rotate(0.5deg); }
  78% {
    transform: translate(10px, -1px) rotate(1.5deg); }
  80% {
    transform: translate(-9px, 4px) rotate(1.5deg); }
  82% {
    transform: translate(-8px, 5px) rotate(-1.5deg); }
  84% {
    transform: translate(6px, -2px) rotate(0.5deg); }
  86% {
    transform: translate(0px, 5px) rotate(-2.5deg); }
  88% {
    transform: translate(7px, -8px) rotate(0.5deg); }
  90% {
    transform: translate(-7px, 9px) rotate(-0.5deg); }
  92% {
    transform: translate(5px, 0px) rotate(-2.5deg); }
  94% {
    transform: translate(-7px, 7px) rotate(3.5deg); }
  96% {
    transform: translate(-9px, -5px) rotate(-0.5deg); }
  98% {
    transform: translate(-8px, -6px) rotate(3.5deg); }
  0%, 100% {
    transform: translate(0, 0) rotate(0); } }


@-webkit-keyframes appear {
  10% {
    opacity: 0.1;
  }
  
  25% {
    opacity: 0.25;
  }

  50% {
    opacity: 0.4;
  }

  75% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}
@keyframes appear {
  25% {
    top: 0px;
  }

  55% {
    top: 0px;
    opacity: 1;
  }

  85% {
    top: 0px;
    opacity: 1;
  }

  99% {
    opacity: 1;
    top: 0px;
  }

  100% {
    opacity: 1;
    top: 0px;
  }
}


#nav ul li.page-item-2 a{
    display:block;
    width:100px;
    height:100px;
    opacity:0;
    margin:0;
}


.nav li ul {
    position:absolute;
    left:0;
    top:36px;
}
