 
 /*============= PAGE CONTENT ==================== */
  #home {
    z-index: 1;
    position: relative;
    text-align: center;
    padding-top: 15px;
    background : transparent;
    }
  
  #home > h1 {
    font-family: "morva";
    font-size: 2em;
    letter-spacing: 2px;
    margin: 0;
  }
  
  #home > h2 {
    font-family: "morva";
    font-size: 2em;
    letter-spacing: 2px;
    margin: 0;
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;
    color : white
  }
  
  #home > img {
    height: 25rem;
  }
  #content {
    
    z-index: 0;
    width: 100%;
    position: relative;
    background: none;
    color: var(--text-primary);
    margin: 0;
    font-family: "Baloo 2", cursive;
    background: transparent;
  }
  
  #content #presentation {
    color: var(--text-primary);
    font-size: 1.1em;
  }
  .text-presentation{
    text-align: center;
    font-family: "Baloo 2", cursive;
    line-height: 1.8em;
    margin: 0;
  }
  
  
  .margin {
    margin-left: 20%;
    margin-right: 20%;
  }
  
  .section {
    padding-top: 50px;
  }
  
  .section-title {
    text-align: center;
    font-size: 2.2em;
  }
  
  /* ==================== PAGE LOADING ==================== */
  
  #loader {
    width: 86px;
    height: 100px;
    background-image: url("./Images/logo_P22.png");
    animation: spin 0.5s linear infinite;
  }
  
  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }
  
  .center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  

  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff
    }
    to {
      /*text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;*/
    }
  }
  
  