.pixies{
  z-index: 90;
  position: fixed;
  left: 0;
  top: 0;
  width: 0.4vw;
  height: 0.4vw;
  margin: -0.2vw 0 0 9.8vw;
}

.dot{
  width:3px;
  height:3px;
  position:absolute;
  background-color:#ffffff;
  box-shadow:0px 0px 10px 2px rgb(255, 224, 51) ;
  border-radius: 20px;
  z-index:2;
}

html, body, #container {
width:100%; 
height:100%;
}


#DiacoDesignLink,#pens{
  color: #fff;
}