:root {
  --noir: rgb(0, 0, 0);
  --blanc: #ffffff;
  --bleu-fee: rgb(207, 223, 255);
  --sable-bandeau: #dfbf8f;
  --sable-bandeau-fonce: #dfaf7f;
  --bleu-fonce :rgba(9,9,121,1);
  --gradient-bleu:radial-gradient(circle, rgba(164,209,255,1) 0%, rgba(36,77,126,1) 29%, rgba(9,9,121,1) 100%);
  --luciole:rgb(255, 253, 163);
  
  --primary-gradient:var(--gradient-bleu);
  --primary :var(--bleu-fonce);
  --text-primary:var(--blanc);
  --accent:var(--sable-bandeau);
  --text-accent:var(--noir);
  --dark:var(--sable-bandeau);
  --text-dark:var(--noir);  
}

/* Police Festupic*/
@font-face {
  font-family: "morva";
  src: url("Polices/MORVA.ttf");
}

/*Police classique*/
@font-face {
  font-family: "roboto";
  src: url("Polices/Roboto-Light.ttf");
}

@font-face {
  font-family: "thyssen";
  src: url("Polices/9THYSSEN.otf");
}

@font-face {
  font-family: "avenir";
  src: url("Polices/AvenirNext.otf");
}
​
html {
  
  height: 100%;
  background: var(--primary-gradient);
  overflow-x: hidden;
}
#fond{
  background: var(--primary-gradient);
  overflow-x: hidden;
}
